<div class='container-fluid d-flex'>
    <div class='container align-self-center pt-5 text-center'>
        <div class='container align-self-center'>
            <p class='profiletext'>If you already have an account login here.</p>
            <a href='index.php?k=profile&cmd=login' class='loginbtn'>Login</a>
            <br><br>
            <p class='profiletext'>If not create your account here.</p>
            <a href='index.php?k=profile&cmd=register' class='loginbtn'>Register</a>
        </div>
    </div>
</div>