:root {
    --p1: #439BFF;
    --tx: #FFFFFF;
    --bg: #0A0A0B;
    --p2: #F8F32B;
}

.bottombar{
    border-top: 3px solid #F8F32B;
    background-color: #439BFF;
}

.textdisplay{
    background-color: #0A0A0B;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
}

.mediabtn{
    font-size: 30px;
    border: none;
    background-color: #439BFF;
    color: #0A0A0B;
}

.slidercontainer{
    border: 2px solid #0A0A0B;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}